<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <!--    <filter-mapping>-->
    <!--        <filter-name>AuthenticationFilter</filter-name>-->
    <!--        <url-pattern>/*</url-pattern>-->
    <!--    </filter-mapping>-->

    <!--    <session-config>-->
    <!--        <session-timeout>60</session-timeout>-->
    <!--        <cookie-config>-->
    <!--            <name>TELEFORUM_JSESSIONID</name>-->
    <!--            <http-only>true</http-only>-->
    <!--        </cookie-config>-->
    <!--        <tracking-mode>COOKIE</tracking-mode>-->
    <!--    </session-config>-->

    <!--    <security-constraint>-->
    <!--        <web-resource-collection>-->
    <!--            <web-resource-name>HelloResource</web-resource-name>-->
    <!--            <url-pattern>/*</url-pattern>-->
    <!--        </web-resource-collection>-->
    <!--        <auth-constraint>-->
    <!--            <role-name>Guest</role-name>-->
    <!--        </auth-constraint>-->
    <!--    </security-constraint>-->

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>TeleforumRealm</realm-name>
    </login-config>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>HelloResource</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
        <auth-constraint>
            <role-name>Guest</role-name>
        </auth-constraint>
    </security-constraint>

    <filter-mapping>
        <filter-name>LoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <security-role>
        <role-name>Guest</role-name>
    </security-role>
    <!--    <security-role>-->
    <!--        <role-name>Admin</role-name>-->
    <!--    </security-role>-->
</web-app>